div, a{color: blueviolet; font-weight: bold;}
        p {color: brown; font-size: 2em;}
        #description{color: cadetblue;}
        .title {color: chartreuse;}
        body {font-style: italic; font-family: 'Times New Roman', Times, serif;}
        #sub-desc {color: chocolate;}